@charset "utf-8";

body {
    background-color: darkgray;
}

h1{
    text-align: center;
}

ul li{
    text-align: center;
    float:left;
    width: 320px;
    height: 50px;
    font-size: 150%;
}

ul{
    list-style-type: none;
}

nav {
    height:50px;
    margin: auto auto 20px auto;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; 
}

.sunny{
    text-align: center;
}

.sunny .text{
    text-align: left;
    display: inline-block;
}

.zemi{
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #333333;
}